<script type="text/ng-template" id="infoBox.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body pretty">
		{{pretty}}
    </div>
    <div class="modal-body"><pre><code class="javascript">{{oneDataRecord}}</code></pre></div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>
<section ng-controller="shoppingCartCtrl">
    <div>
        <!-- UI Grid directive -->
        <nglist></nglist>
    </div>
</section>